@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --white-ligth: #3c1f50;
    --purple: #f0ebf5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-family: "Poppins", sans-serif;
    background: var(--white-ligth);
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.tree-container .avatar {
    width: 213px;
    height: 213px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.tree-container .avatar img {
    width: 200px;
    height: 200px;
}

.tree-container .insta-user {
    margin-top: 15px;
    color:#eae0f5;

}

.tree-container .links-container {
    margin-top: 17px;
    

    display: flex;
    flex-direction: column;
}

.links-container .link {
    margin-top: 25px;
    width: 325px;
    color:#eae0f5;

    border: 2px solid var(--purple);
    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    
    padding: 12px 0;

    transition: ease 0.3s;
}


.links-container .link:hover {
    background: var(--purple);
    color: var(--white-ligth);
}

.tree-container .socials-container {
    margin-top: 30px;

    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 29px;
}

.socials-container .social {
    transform: scale(0.9);

    transition: ease 0.3;
}

.socials-container .social:hover {
    transform: scale(1);
}

